* {
  margin: 0;
  padding: 0;
}

.content {
  width: 100px;
  height: 100px;
  box-shadow: 1px 1px 1px #ddd;
  transform: rotate(0deg);
  background-image: url("~images/bg.png");
}

body {
  background-color: #ddd;
}